<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="static/css/estilos.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Curiosidades</title>
</head>

<body>

	<header>
		<nav>
			<a href="/"><img src="static/images/logo2.jpg" style="vertical-align: top"/></a>
			<ul class="menu">

				<li><a href="/curriculum">Curriculum</a></li>
				<li><a href="/curiosidades">Curiosidades</a>
				<li><a href="/projetos">Projetos</a></li>

			</ul>
		</nav>
	</header>

	<main>
		<p class="titulo_pagina">
			Curiosidades
			<hr />
		</p>
		<div class="div_responsiva">
			<img class="img_responsiva rounded" src="static/images/gustavo.jpeg" />
			<p>
				<b>Gustavo</b>
			</p>
		</div>

		<div class="div_responsiva">

			<p>
					Este é o meu marido Gustavo, ele é programador e trabalha na Força Aérea Brasileira, desenvolvendo
				softwares para simuladores de
				aeronaveis. O trabalho dele ajuda os pilotos a treinarem protocolos de voos que seriam muito dificeis de
				treinar na vida real
				como por exemplo pane de fogo no motor.
			</p>
		</div>
		<div class="div_responsiva">
			<img class="img_responsiva rounded" src="static/images/beatriz.jpeg" />
			<p>
				<b>Beatriz</b>
			</p>
		</div>
		<div class="div_responsiva">

		<p>
					Esta é a minha filha Beatriz, ela tem 11 anos e é uma grande medalhista, muitas medalhas que ela possuí
				são de nível
				nacional como a melhada de ouro da OBR (Olimpíada Brasileira de Robótica), medalha de prata da OBA
				(Olimpíada Brasileira
				de Astronomia Astronáutica) e a medalha de bronze na Olimpíada Canguru de Matemática.
				Ela ama desenhar, estudar novos idiomas e sonha em ser médica cirurgiã plástica.
					
		</p>
		</div>

		<div class="div_responsiva">
			<img class="img_responsiva rounded" src="static/images/leo.jpeg" />
			<p>
				<b>Leonardo</b>
			</p>
		</div>

		<div class="div_responsiva">

			<p>
				
					O Léo também é um medalhista de bronze OBR (Olimpíada Brasileira de Robótica) e também ganhou medalha de
				ouro na OBA (Olimpíada Brasileira
				de Astronomia Astronáutica).
				Ele sonha em ser engenheiro de computação e construir casas inteligentes.

			</p>
			<p>
				Leonardo adora programar em scratch e arduino, recentemente ele e juntamente com o seu pai, construiram o seu primeiro robô utilizando placa arduíno, sensor ultrassônico e motores. A programação realizada por eles foi para que o robô se desviasse de obstáculos a fim de encontrar o melhor caminho para seguir.
			</p>
			
		</div>


	</main>

</body>

</html>