{% extends "base.html" %}
{% block titulo %}
	Portifólio Gizeli - Curriculum
{% endblock %}
{% block contents %}
<p class="titulo_pagina">
	Curriculum
	<hr />
</p>

<div>
	<section>
		<p>
			Meu nome é Gizeli Martins Fonseca, sou casada, tenho dois filhos.
			Nasci na cidade de Guaratinguetá SP no dia 01 de março de 1986, fui criada na cidade de Cruzeiro SP, onde
			vivi 23 anos.
		</p>
		<p>
			Logo após casar me mudei para São José dos Campos SP onde vivo atualmente. Estudei administração na
			faculdade Unitau EAD por 5 periodos.
		</p>
		<p>
			Meu nível de inglês é intermediário. Possuo experiência de atendimento ao cliente há mais de 10 anos.Sempre
			procurei oferecer o melhor para os meus clientes, com isso percebi que,
			a tecnologia ajuda e muito na rotina das pessoas. E por este motivo estou inverstindo no curso de
			Desenvolvimento de Softwares Multiplataformas
			na FATEC de São José dos Campos-SP.
		</p>
	</section>
</div>
{% endblock %}