{% extends "base.html" %}
{% block titulo %}
	Portifólio Gizeli - Página Inicial
{% endblock %}
{% block contents %}
<div class="div_responsiva">
	<section>
		<p>
			<b>Olá, meu nome é Gizeli</b>
		</p>
		<p>
			Encontre em minha página informações sobre o meu curriculo, curiosidades e projetos em que estou
			trabalhando.
		</p>
		<p>
			Mais informações entre em contato pelo e-mail: <a href="mailto:gizeli.fonseca@fatec.sp.gov.br">
				gizeli.fonseca@fatec.sp.gov.br</a>
		</p>
	</section>


</div>

<div class="div_responsiva">
	<img class="img_responsiva img_cinza rounded" src="static/images/gizeli.jpeg" />
	<p class="assinatura">
		Gizeli Fonseca
	</p>
</div>
{% endblock %}