<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="static/css/estilos.css">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	<title>Página Inicial</title>
</head>

<body>
	<header>
		<nav>
			<img src="static/images/logo2.jpg" />
			<ul class="menu">

				<li><a href="/">Home</a></li>
				<li><a href="/curriculum">Curriculum</a></li>
				<li><a href="/curiosidades">Curiosidades</a>
				<li><a href="/projetos">Projetos</a></li>

			</ul>
		</nav>
	</header>
	<main>

		
		<div class="div_responsiva">
			<section>
				<p>
					<b>Olá, meu nome é Gizeli</b>
				</p>
				<p>
					Encontre em minha página informações sobre o meu curriculo, curiosidades e projetos em que estou trabalhando.
				</p>
				<p>
					Mais informações entre em contato pelo e-mail: <a href="mailto:gizeli.fonseca@fatec.sp.gov.br"> gizeli.fonseca@fatec.sp.gov.br</a>
				</p>
			</section>
			
			
		</div>
		
		<div class="div_responsiva">
			<img class="img_responsiva img_cinza rounded" src="static/images/gizeli.jpeg" />
			<p class="assinatura">
				Gizeli Fonseca
			</p>
		</div>
	</main>
	
</body>

</html>