{% extends "base.html" %}
{% block titulo %}
	Portifólio Gizeli - Projetos
{% endblock %}
{% block contents %}
<h3 class="titulo_pagina">Projetos</h3>
<br>
<div class="fundo_divs_projeto">
	<h4>API-2021</h4>
	<p>Projeto Integrador do curso de Desenvolvimento de Software Multiplataforma/1º Semestre | FATEC - SJC. A fim de
		desenvolver um portal de informações, tanto para docentes, quanto para discentes, de modo que os comunicados são
		visualizados de maneira hierárquica e, devido ao recurso de filtro, a busca por esses será mais sucinta,
		promovendo solução ao grande volume de mensagens.</p>
</div>
<br>
<div class="fundo_divs_projeto">
	<h4>Programa de correção de prova</h4>
	<p>Tenho trabalhando em um projeto para auxiliar professores na correção de gabaritos de provas, de modo que os
		professores consigam colher dados estatísticos, para focarem em estratégias a fim de melhorar a aplicação do
		conteúdo dado em sala.</p>
	<p>A primeira versão está validada, em um cursinho preparatório na cidade de São Jose dos Campos-SP, onde foi
		possível constatar uma melhoria significativa no tempo de correção dos gabaritos, que antes eram feitos de forma
		manual, por quatro professores corrigindo cerca de 100 provas em 6 horas.</p>
	<p>Hoje este mesmo volume provas é corrigido pelo sistema em cerca de 15 minutos por uma pessoa, otimizando tempo e
		dinheiro. </p>
</div>
<br>
<div class="fundo_divs_projeto">
	<h4>Desenvolvimento de site da escola preparatória - Valéria cursos </h4>
	<p>Edição de layout e conteúdo de site utilizando a ferramenta Wordpress do site https://valeriacursos.com.br/</p>
</div>
{% endblock %}