<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="static/css/estilos.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Projetos</title>
</head>

<body>

	<header>
		<nav>
			<a href="/"><img src="static/images/logo2.jpg" style="vertical-align: top"/></a>
			<ul class="menu">

				<li><a href="/curriculum">Curriculum</a></li>
				<li><a href="/curiosidades">Curiosidades</a>
				<li><a href="/projetos">Projetos</a></li>

			</ul>
		</nav>
	</header>

	<main>
		<h3 class="titulo_pagina">Projetos</h3>
		<br>
		<div class="fundo_divs_projeto">
			<h4>API-2021</h4>
			<p>Projeto Integrador do curso de Desenvolvimento de Software Multiplataforma/1º Semestre | FATEC - SJC. A fim de desenvolver um portal de informações, tanto para docentes, quanto para discentes, de modo que os comunicados são visualizados de maneira hierárquica e, devido ao recurso de filtro, a busca por esses será mais sucinta, promovendo solução ao grande volume de mensagens.</p>
		</div>
		<br>
		<div class="fundo_divs_projeto">
			<h4>Programa de correção de prova</h4>
				<p>Tenho trabalhando em um projeto  para auxiliar professores na correção de gabaritos de provas, de modo que os professores consigam colher dados estatísticos, para focarem em estratégias a fim de melhorar a aplicação do conteúdo dado em sala.</p>
				<p>A primeira versão está validada, em um cursinho preparatório na cidade de São Jose dos Campos-SP, onde foi possível constatar uma melhoria significativa no tempo de correção dos gabaritos, que antes eram feitos de forma manual, por quatro professores corrigindo cerca de 100 provas em 6 horas.</p>
				<p>Hoje este mesmo	volume provas é corrigido pelo sistema em cerca de 15 minutos por uma pessoa, otimizando tempo e dinheiro.	</p>
		</div>
		<br>
		<div class="fundo_divs_projeto">
			<h4>Desenvolvimento de site da escola preparatória - Valéria cursos </h4>
			<p>Edição de layout e conteúdo de site utilizando a ferramenta Wordpress do site https://valeriacursos.com.br/</p>
		</div>
	</main>

</body>

</html>